
@{
    ViewBag.Title = "LectureOv";
}
<div class="container body-content">
    <h2>Lecture Ordre de virement</h2>


    @using (Html.BeginForm())
    {
<div class="form-horizontal">

    @Html.AntiForgeryToken()

    <div><a href="@Url.Action("Export")"> Report PDF </a> </div>
    <br />
    <br />
    <br />
    @Html.DropDownList("Ov", null, htmlAttributes: new { @class = "form-control", onchange = "SelectedIndexChanged(this);" })
    <br />
    <br />
    <br />

</div>
    }
</div>
