
@model Projet_Onssa_Web_Mvc.Models.FournisseurSet

<div class="container body-content">
    @{
        ViewBag.Title = "GetFList";
    }


    <h2>LectureConsultation</h2>

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">

            @Html.AntiForgeryToken()

            <br />
            <br />
            @Html.DropDownList("Four", null, htmlAttributes: new { @class = "form-control" })

        </div>
    }

</div>
