@model Projet_Onssa_Web_Mvc.Models.FournisseurSet

<div class="container body-content">


    @{
        ViewBag.Title = "LectureConsultation";
    }



    <h2>LectureConsultation</h2>

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">

            @Html.AntiForgeryToken()
            <br />
            <br />
            <br />
            @Html.DropDownList("Cons", null, htmlAttributes: new { @class = "form-control" ,onchange = "SelectedIndexChanged()" })
            <!--Html.ActionLink("Valider", ())-->
            <!--Html.DropDownList("Four", null, htmlAttributes: new { class = "form-control" })-->

        </div>
    }

<script>

        function SelectedIndexChanged() {

            @Html.ActionLink("Modifier", "Edit", new { id = @Html.DropDownListFor(m => m., Model.Vendor, "Select Manufacurer") })
        }

</script>
</div>
