@model Projet_Onssa_Web_Mvc.Models.ConsultationSet

<div class="container body-content">


    @{
        ViewBag.Title = "LectureConsultation";
    }



    <h2>LectureConsultation</h2>

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">

            @Html.AntiForgeryToken()
            <br />
            <br />
            <br />
            @Html.DropDownList("Cons",null , htmlAttributes: new { @class = "form-control" , onchange ="SelectedIndexChanged(this);" })
            <br />
            <br />
            <br />

        </div>
    }

<script>

    function SelectedIndexChanged(ddval) {

       var set = ddval.value
        $.get("/LectureConsultation/GetFList", { IdCOn : set});

    }


</script>
</div>
