@model Projet_Onssa_Web_Mvc.Models.GestionCompteSet


@{
    Layout = null;
    ViewBag.Title = "Connexion";
}

<style>

    #one {
        background-image: url('../../Content/img/banner.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
</style>

<body class="bg-gradient-primary">

    @using (Html.BeginForm("Connexion", "Connexion" ,FormMethod.Post))
    {
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div id="one" class="col-lg-6 d-none d-lg-block "></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                        </div>
                                        <form class="user" action="Connexion" method="post">
                                            <div class="form-group">
                                               
                                                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @type = "text" , @class="form-control form-control-user" , @id="exampleInputEmail" ,@placeholder="Enter Email Address..."}
                                                })

                                            </div>
                                            <br />
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.MotDePasse, new { htmlAttributes = new { @class = "form-control form-control-user", @id = "exampleInputPassword" , placeholder = "Password", type = "password" } })
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    
                                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">
                                                        Remember
                                                        Me
                                                    </label>
                                                </div>
                                            </div>
                                            <input type="submit" class="btn btn-primary btn-user btn-block"/>

                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="register.html">Create an Account!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        <!-- styles -->
        <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Script-->
        <script src="~/Scripts/modernizr-2.8.3.js"></script>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/Content/js/sb-admin-2.min.js"></script>
        <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
        <script src="~/Content/js/demo/chart-area-demo.js"></script>
        <script src="~/Content/js/demo/chart-pie-demo.js"></script>

    }

</body>